body {
  font-family: houschka-rounded, sans-serif;
  color: #333;
  font-size: 18px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: bold;
}

p {
  margin-bottom: 10px;
  font-family: houschka-rounded, sans-serif;
  color: #474747;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.hero {
  height: 100vh;
}

.nav {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 10;
  padding-top: 24px;
  padding-bottom: 24px;
}

.circle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  height: 400px;
  margin: 96px auto;
  padding: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 1000px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/moshood-adekunle-55827-unsplash.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/moshood-adekunle-55827-unsplash.jpg');
  background-position: 0px 0px, 100% 50%;
  background-size: auto, cover;
  color: #fff;
}

.heading {
  margin-top: 0px;
  margin-bottom: 16px;
  font-family: utopia-std-display, sans-serif;
  font-size: 40px;
  line-height: 50px;
  font-weight: 400;
}

.paragraph {
  margin-bottom: 16px;
}

.paragraph.subheader {
  margin-bottom: 24px;
  font-family: houschka-rounded, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}

.button {
  width: 200px;
  height: 40px;
  margin-right: 8px;
  margin-left: 10px;
  padding: auto;
  border: 1px none #000;
  border-radius: 4px;
  background-color: #fff;
  font-family: houschka-rounded, sans-serif;
  color: #5028ff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button.secondary {
  border-style: solid;
  border-color: #fff;
  background-color: transparent;
  -webkit-transition: all 550ms ease;
  transition: all 550ms ease;
  color: #fff;
}

.button.secondary:hover {
  border-style: none;
  background-color: #5028ff;
  color: #fff;
}

.button.comingsoon {
  position: relative;
  z-index: 10;
  -webkit-transition: opacity 550ms ease;
  transition: opacity 550ms ease;
}

.button.comingsoon:hover {
  opacity: 0;
}

.button.form-cta {
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
}

.hero-content {
  display: block;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
  text-align: center;
}

.div-block {
  width: 940px;
}

.hero-background {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(270deg, #6862ac, #efc4ff);
  background-image: linear-gradient(180deg, #6862ac, #efc4ff);
}

.sphere {
  position: absolute;
  left: -220px;
  top: -328px;
  right: 18px;
  bottom: 56px;
  width: 904px;
  height: 904px;
  border-radius: 10000px;
  background-color: #fff;
}

.hero-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.black-background {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
  background-color: #000;
  background-image: -webkit-linear-gradient(90deg, #a8edea, #fed6e3);
  background-image: linear-gradient(0deg, #a8edea, #fed6e3);
}

.shade1 {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 20%;
  z-index: 0;
  display: none;
  overflow: hidden;
  height: 20%;
  background-color: #ff9b05;
}

.shade2 {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 40%;
  z-index: 0;
  display: none;
  height: 20%;
  background-color: #c305ff;
}

.shade3 {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 60%;
  z-index: 0;
  display: none;
  height: 20%;
  background-color: #7305ff;
}

.shade4 {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 80%;
  z-index: 0;
  display: none;
  height: 20%;
  background-color: #9eadff;
}

.image {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}

.overlaycity {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/BACKGROUND.svg');
  background-position: 50% 100%;
  background-size: auto 100%;
  background-repeat: repeat-x;
}

.city-container {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 33%;
}

.overlaycity-2 {
  position: absolute;
  left: 0px;
  top: 50px;
  right: 0px;
  bottom: 0px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/FOREGROUND.svg');
  background-position: 50% 100%;
  background-size: auto 100%;
  background-repeat: repeat-x;
  background-attachment: scroll;
}

.buttons-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.nav-content {
  margin-left: 24px;
}

.faq-section {
  padding-top: 120px;
  padding-bottom: 120px;
  -webkit-transition: all 550ms ease;
  transition: all 550ms ease;
}

.heading-dark {
  margin-top: 0px;
  margin-bottom: 40px;
  font-family: utopia-std-display, sans-serif;
  color: #150085;
  font-size: 40px;
  line-height: 50px;
  font-weight: 400;
  text-align: center;
}

.faqs-holder {
  border-radius: 5px;
  box-shadow: 0 0 24px 0 rgba(21, 0, 133, .1);
}

.dropdown {
  width: 100%;
  border-bottom: 1px solid rgba(21, 0, 133, .05);
}

.dropdown-toggle {
  width: 100%;
  -webkit-transition: color 550ms ease, background-color 550ms ease;
  transition: color 550ms ease, background-color 550ms ease;
  color: #150085;
}

.dropdown-toggle:hover {
  background-color: rgba(21, 0, 133, .03);
  color: #5028ff;
}

.dropdown-toggle.w--open:hover {
  color: #5028ff;
}

.icon {
  color: #150085;
}

.dropdown-list {
  background-color: transparent;
}

.dropdown-list.w--open {
  position: static;
  padding: 24px;
  background-color: #fff;
}

.cta-section {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #6862ac;
  background-image: -webkit-linear-gradient(270deg, #6862ac, #150085), -webkit-linear-gradient(270deg, #5028ff, #5028ff);
  background-image: linear-gradient(180deg, #6862ac, #150085), linear-gradient(180deg, #5028ff, #5028ff);
  font-size: 14px;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.heading-light {
  font-family: utopia-std-display, sans-serif;
  color: #fff;
  font-size: 40px;
  line-height: 50px;
  font-weight: 400;
  text-align: center;
}

.image-2 {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 24px;
  z-index: 10;
  display: block;
  width: 24px;
  margin-right: auto;
  margin-left: auto;
  opacity: 0.5;
}

.row {
  height: 100%;
}

.column-2 {
  height: 550px;
}

.div-block-2 {
  width: 100%;
  height: 100%;
  background-image: url('../images/grant-lemons-80424-unsplash.jpg');
  background-position: 100% 50%;
  background-size: cover;
}

.footer-section {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fff;
}

.copy-right {
  margin-top: 16px;
  color: #150085;
  font-size: 14px;
  text-align: right;
}

.image-3 {
  text-align: center;
}

.column-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.button-label {
  margin-bottom: 8px;
  padding: 4px 16px;
  border-radius: 100px;
}

.main-cta-div {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.label-text {
  font-size: 14px;
}

.button-under {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
  width: 200px;
  height: 40px;
  margin-right: 8px;
  margin-left: 10px;
  padding: auto;
  border: 1px none #000;
  border-radius: 4px;
  background-color: hsla(0, 0%, 100%, .5);
  font-family: houschka-rounded, sans-serif;
  color: #6862ac;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-under.secondary {
  border-style: solid;
  border-color: #fff;
  background-color: transparent;
  color: #fff;
}

.button-under.comingsoon {
  -webkit-transition: opacity 550ms ease;
  transition: opacity 550ms ease;
}

.button-under.comingsoon:hover {
  opacity: 0;
}

.text-field1 {
  display: inline-block;
  border-style: none;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 16px -4px #000;
  -webkit-transition: all 550ms ease;
  transition: all 550ms ease;
  color: #fff;
}

.text-field1:active {
  background-color: rgba(0, 0, 0, .45);
  box-shadow: none;
}

.text-field1:focus {
  background-color: rgba(0, 0, 0, .45);
  box-shadow: none;
}

.text-field1::-webkit-input-placeholder {
  color: hsla(0, 0%, 100%, .5);
}

.text-field1:-ms-input-placeholder {
  color: hsla(0, 0%, 100%, .5);
}

.text-field1::placeholder {
  color: hsla(0, 0%, 100%, .5);
}

.text-field-long {
  border-style: none;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
}

.text-field-long::-webkit-input-placeholder {
  color: hsla(0, 0%, 100%, .5);
}

.text-field-long:-ms-input-placeholder {
  color: hsla(0, 0%, 100%, .5);
}

.text-field-long::placeholder {
  color: hsla(0, 0%, 100%, .5);
}

.form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.success-message {
  background-color: transparent;
}

.success-mesage {
  color: #fff;
  font-size: 16px;
}

.error-message {
  margin-top: 0px;
  padding: 8px 0px 0px;
  background-color: transparent;
}

.text-block {
  color: #dd4949;
  text-align: center;
}

@media (max-width: 991px) {
  .hero-content {
    width: 100%;
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .heading {
    font-size: 32px;
    line-height: 40px;
  }
  .button {
    margin-bottom: 8px;
  }
  .hero-content {
    padding-right: 24px;
    padding-left: 24px;
  }
  .heading-dark {
    font-size: 32px;
    line-height: 40px;
  }
  .heading-light {
    font-size: 32px;
    line-height: 40px;
  }
  .column-2 {
    height: 300px;
    margin-bottom: 32px;
  }
  .button-under {
    margin-bottom: 8px;
  }
}

@media (max-width: 479px) {
  .buttons-block {
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }
}

